rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Tylko zalogowani użytkownicy (recepcja/dyrektor) mogą czytać i zapisywać grafik.
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
